[Unit]
Description=ML307A SMS Gateway Listener
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/admin/OPi-ML307A-gateway/listener.py
WorkingDirectory=/home/admin/OPi-ML307A-gateway
Restart=always
RestartSec=3
User=admin
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
